#one {
  width: 60px;
  height: 60px;
  margin-top: 50px;
  background-color: blue;
  border-color: red;
  border-style: solid;
  border-width: 5px;
}
#two {
  width: 60px;
  height: 60px;
  background-color: green;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  padding: 60px;
  margin-bottom: 30px;
}
#three {
  width: 60px;
  height: 60px;
  background-color: red;
  border-color: blue;
  border-style: solid;
  border-width: 5px;
}
#four {
  width: 60px;
  height: 60px;
  background-color: pink;
  margin-left: 50px;
  
}
