summary {
  font-weight: 600;
}

img {
  height: 10em;
}

p.desc {
  font-weight: 900;
  font-size: 18px;
}

h1 {
  text-align: center;
}

.name {
  font-weight: 200;
}

a {
  padding: 10px 10px 10px 0px;
  color: red;
}

summary:hover {
  cursor: pointer;
}

html {
  padding: 4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
