.desc{
    padding: 20px;
    
}

#first_paragraph{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:left;
}

#first_header{
    text-align:center;
}

html{
    padding: 40px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(245, 221, 225);
}

img {
    width: 100px;
    height: auto;
  }