 h1 {
    border-radius: 25px;
    padding: 20px;
    width: 500px;
    height: 40px;
    color : #343148FF;
} 

.content {
    max-width: 500px;
    margin: auto;
}

/* p {
    padding: 20px;
} */

html {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img { 
    height: 2em;
}

.name {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.purp {
    color: #343148FF;
}

.contact {
    font-family: 'Courier New', Courier, monospace;
    color: #343148FF;
    font-weight: bold;
}

.contact:hover {
    font-style: italic;
}

body {
    background-color: whitesmoke;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

.box {
    background-color: #e2e0eb;
    border-radius: 25px;
    padding: 20px;
}

.medium {
    background-color: #c5c2d6;
    border-radius: 25px;
    padding: 20px;
}

.darkest {
    background-color: #a8a3c2;
    border-radius: 25px;
    padding: 20px;
}